{% include "nav.html" %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
    <link rel="alternate" type="text/calendar" title="Calendar" href="{{ get_url(path='calendar.ics', trailing_slash=false) }}">
    {% endblock %}
    <title>friendfeed</title>
  </head>
  <body>
    <section class="section">
	<div class="container">
	  <h1 class="site-title">{{ config.title }}
	    {% if current_path != "/info/" %}
	      <a href="{{ get_url(path='info') }}">[?]</a>
	    {% else %}
              info
	    {% endif %}
	  </h1>
	  {% block content %}
          {% endblock content %}
	</div>
    </section>
  </body>
</html>
